/* Цвет  текста заголовка #212121*/
/* Цвет основного текста #757575*/
/* Цвет белый #FFFFFF*/
/* акцент #2196F3/*/
/* контакты футер #rgba(255, 255, 255, 0.6)*/
/* вторичный цвет фона #2F303A */
/* цвет секции наша команда #F5F4FA */
/*header */
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--white-color: #fff;
}
body {
	background: var(--white-color);
	color: var(--primary-text-color);
	font-family: Roboto;
}

/*header */
.logo {
	position: absolute;
	width: 145px;
	height: 31px;
	left: 215px;
	top: 24px;

	font-family: Ralevay;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: var(--accent-color);
}
.logo-s {
	color: var(--title-text-color);
}
ul {
	list-style: none;
}
.site-nav a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: var(--title-text-color);
}

.link-post {
	position: absolute;
	width: 135px;
	height: 16px;
	left: 1078px;
	top: 32px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

.link-phone {
	position: absolute;
	width: 122px;
	height: 16px;
	left: 1263px;
	top: 32px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: var(--primary-text-color);
}
.link-phone:hover,
.link-phone :focus,
.link-post:hover,
.link-post :focus,
.site-nav a:hover,
.site-nav a:focus {
	color: var(--accent-color);
}
/* hero */
.hero {
	position: absolute;
	width: 1600px;
	height: 600px;
	left: 0px;
	top: 80px;
	background: #2f303a;
}
.hero-title {
	position: absolute;
	width: 696px;
	height: 120px;
	left: 452px;
	top: 280px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	/* or 136% */

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: var(--white-color);
}
.button-hero {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 700px;
	top: 430px;

	background: var(--accent-color);
	color: var(--white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
/* work-list */
.work-list .title {
	color: var(--title-text-color);
}
